In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("gold_schema").getOrCreate()

df = spark.read.parquet("/home/hamza/Documents/NYC Taxi Data Engineering & Analytics Project/nyc-taxi-streaming-analytics/data/gold/")
df.printSchema()
df.show(5)

root
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_day_of_week: integer (nullable = true)
 |-- pickup_day_of_month: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- total_rides: long (nullable = true)
 |-- total_fare: double (nullable = true)
 |-- total_tip: double (nullable = true)
 |-- total_revenue: double (nullable = true)
 |-- avg_fare: double (nullable = true)
 |-- avg_tip_pct: double (nullable = true)
 |-- num_high_tip_trips: long (nullable = true)
 |-- avg_trip_distance: double (nullable = true)
 |-- avg_trip_duration: double (nullable = true)
 |-- sum_trip_distance: double (nullable = true)
 |-- num_long_trips: long (nullable = true)
 |-- num_short_trips: long (nullable = true)
 |-- num_rush_hour_rides: long (nullable = true)
 |-- revenue_per_mile: double (nullable = true)
 |-- avg_revenue_per_ride: double (nullable = true)
 |-- avg_speed_mph: double (nullable = true)
 |-- tip_per_mile: double (nullable = true)
 |-- pickup_year: integer (nullable = true)
 |-- pickup_month: integer (nullable = true)
 |-- pickup_day: integer (nullable = true)

+-----------+------------------+-------------------+------------+------------+-----------+----------+---------+-------------+--------+------------------+------------------+------------------+------------------+-----------------+--------------+---------------+-------------------+------------------+--------------------+------------------+------------------+-----------+------------+----------+
|pickup_hour|pickup_day_of_week|pickup_day_of_month|PULocationID|DOLocationID|total_rides|total_fare|total_tip|total_revenue|avg_fare|       avg_tip_pct|num_high_tip_trips| avg_trip_distance| avg_trip_duration|sum_trip_distance|num_long_trips|num_short_trips|num_rush_hour_rides|  revenue_per_mile|avg_revenue_per_ride|     avg_speed_mph|      tip_per_mile|pickup_year|pickup_month|pickup_day|
+-----------+------------------+-------------------+------------+------------+-----------+----------+---------+-------------+--------+------------------+------------------+------------------+------------------+-----------------+--------------+---------------+-------------------+------------------+--------------------+------------------+------------------+-----------+------------+----------+
|          0|                 1|                  1|         224|          68|          1|      14.9|     3.98|        23.88|    14.9|26.711409395973153|                 1|              1.75|14.266666666666667|             1.75|             0|              0|                  0|13.645714285714286|               23.88| 7.359813084112149|2.2742857142857145|       2023|           1|         1|
|          0|                 1|                  1|         161|         261|          2|      54.3|      8.3|         72.6|   27.15|14.716312056737591|                 1|4.5649999999999995|             28.65|9.129999999999999|             0|              0|                  0| 7.951807228915663|                36.3|  9.56020942408377|0.9090909090909093|       2023|           1|         1|
|          0|                 1|                  1|         132|         116|          1|      70.0|    15.85|        95.15|    70.0|22.642857142857142|                 1|              17.8|              30.5|             17.8|             0|              0|                  0| 5.345505617977528|               95.15|35.016393442622956|0.8904494382022471|       2023|           1|         1|
|          0|                 1|                  1|         161|          79|          1|      18.4|     4.68|        28.08|    18.4|25.434782608695656|                 1|              2.41|18.316666666666666|             2.41|             0|              0|                  0|11.651452282157676|               28.08| 7.894449499545042|1.9419087136929458|       2023|           1|         1|
|          0|                 1|                  1|         163|         186|          1|      26.1|      0.0|         31.1|    26.1|               0.0|                 0|              2.02|32.583333333333336|             2.02|             0|              0|                  0|15.396039603960396|                31.1|3.7196930946291555|               0.0|       2023|           1|         1|
+-----------+------------------+-------------------+------------+------------+-----------+----------+---------+-------------+--------+------------------+------------------+------------------+------------------+-----------------+--------------+---------------+-------------------+------------------+--------------------+------------------+------------------+-----------+------------+----------+
only showing top 5 rows

In [2]:
df = spark.read.parquet("/home/hamza/Documents/NYC Taxi Data Engineering & Analytics Project/nyc-taxi-streaming-analytics/data/silver/")
df.printSchema()
df.show(5)

root
 |-- DOLocationID: double (nullable = true)
 |-- PULocationID: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- VendorID: string (nullable = true)
 |-- airport_fee: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- trip_duration_minutes: double (nullable = true)
 |-- tip_pct: double (nullable = true)
 |-- pickup_hour: integer (nullable = true)
 |-- pickup_day_of_week: integer (nullable = true)
 |-- pickup_day_of_month: integer (nullable = true)
 |-- is_long_trip: integer (nullable = true)
 |-- is_short_trip: integer (nullable = true)
 |-- high_tip_flag: integer (nullable = true)
 |-- pickup_year: integer (nullable = true)
 |-- pickup_month: integer (nullable = true)
 |-- pickup_day: integer (nullable = true)

+------------+------------+----------+--------+-----------+--------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+---------------------+------------------+-----------+------------------+-------------------+------------+-------------+-------------+-----------+------------+----------+
|DOLocationID|PULocationID|RatecodeID|VendorID|airport_fee|congestion_surcharge|extra|fare_amount|improvement_surcharge|mta_tax|passenger_count|payment_type|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|tpep_dropoff_datetime|tpep_pickup_datetime|trip_distance|trip_duration_minutes|           tip_pct|pickup_hour|pickup_day_of_week|pickup_day_of_month|is_long_trip|is_short_trip|high_tip_flag|pickup_year|pickup_month|pickup_day|
+------------+------------+----------+--------+-----------+--------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+---------------------+------------------+-----------+------------------+-------------------+------------+-------------+-------------+-----------+------------+----------+
|       141.0|       161.0|       1.0|       2|        0.0|                 2.5|  1.0|        9.3|                  1.0|    0.5|            1.0|         2.0|                 N|       0.0|         0.0|        14.3|  2023-01-01 00:40:36| 2023-01-01 00:32:10|         0.97|    8.433333333333334|               0.0|          0|                 1|                  1|           0|            1|            0|       2023|           1|         1|
|       237.0|        43.0|       1.0|       2|        0.0|                 2.5|  1.0|        7.9|                  1.0|    0.5|            1.0|         1.0|                 N|       4.0|         0.0|        16.9|  2023-01-01 01:01:27| 2023-01-01 00:55:08|          1.1|    6.316666666666666|50.632911392405056|          0|                 1|                  1|           0|            0|            1|       2023|           1|         1|
|       238.0|        48.0|       1.0|       2|        0.0|                 2.5|  1.0|       14.9|                  1.0|    0.5|            1.0|         1.0|                 N|      15.0|         0.0|        34.9|  2023-01-01 00:37:49| 2023-01-01 00:25:04|         2.51|                12.75|100.67114093959731|          0|                 1|                  1|           0|            0|            1|       2023|           1|         1|
|        79.0|       107.0|       1.0|       2|        0.0|                 2.5|  1.0|       11.4|                  1.0|    0.5|            1.0|         1.0|                 N|      3.28|         0.0|       19.68|  2023-01-01 00:21:19| 2023-01-01 00:10:29|         1.43|   10.833333333333334|28.771929824561397|          0|                 1|                  1|           0|            0|            1|       2023|           1|         1|
|       137.0|       161.0|       1.0|       2|        0.0|                 2.5|  1.0|       12.8|                  1.0|    0.5|            1.0|         1.0|                 N|      10.0|         0.0|        27.8|  2023-01-01 01:02:52| 2023-01-01 00:50:34|         1.84|                 12.3|            78.125|          0|                 1|                  1|           0|            0|            1|       2023|           1|         1|
+------------+------------+----------+--------+-----------+--------------------+-----+-----------+---------------------+-------+---------------+------------+------------------+----------+------------+------------+---------------------+--------------------+-------------+---------------------+------------------+-----------+------------------+-------------------+------------+-------------+-------------+-----------+------------+----------+
only showing top 5 rows

25/11/24 20:56:10 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [6]:
import pandas as pd

df = pd.read_parquet("/home/hamza/Documents/NYC Taxi Data Engineering & Analytics Project/nyc-taxi-streaming-analytics/data/silver/pickup_year=2023/pickup_month=1/pickup_day=28/part-00000-c6f92a25-e690-455a-b4e1-6c5b8776f494.c000.snappy.parquet")

In [7]:
df.head()

,DOLocationID,PULocationID,RatecodeID,VendorID,airport_fee,congestion_surcharge,extra,fare_amount,improvement_surcharge,mta_tax,...,tpep_pickup_datetime,trip_distance,trip_duration_minutes,tip_pct,pickup_hour,pickup_day_of_week,pickup_day_of_month,is_long_trip,is_short_trip,high_tip_flag
0,79.0,170.0,NaN,2,NaN,NaN,0.0,15.21,1.0,0.5,...,2023-01-27 19:06:24,1.51,8.700000,0.000000,0,7,28,0,0,0
1,113.0,231.0,NaN,2,NaN,NaN,0.0,15.38,1.0,0.5,...,2023-01-28 09:16:28,1.71,7.550000,25.227568,14,7,28,0,0,1
2,148.0,256.0,NaN,2,NaN,NaN,0.0,19.58,1.0,0.5,...,2023-01-28 11:26:57,2.60,21.816667,24.106231,16,7,28,0,0,1
3,79.0,229.0,NaN,2,NaN,NaN,0.0,15.87,1.0,0.5,...,2023-01-28 17:16:51,2.74,15.950000,25.015753,22,7,28,0,0,1

In [8]:
df = pd.read_parquet("/home/hamza/Documents/NYC Taxi Data Engineering & Analytics Project/nyc-taxi-streaming-analytics/data/gold/pickup_year=2023/pickup_month=1/pickup_day=28/part-00000-a842e951-7607-4528-b566-9fa6c9447e04.c000.snappy.parquet")

In [9]:
df.head()

,pickup_hour,pickup_day_of_week,pickup_day_of_month,PULocationID,DOLocationID,total_rides,total_fare,total_tip,total_revenue,avg_fare,...,avg_trip_distance,avg_trip_duration,sum_trip_distance,num_long_trips,num_short_trips,num_rush_hour_rides,revenue_per_mile,avg_revenue_per_ride,avg_speed_mph,tip_per_mile
0,13,7,28,236,237,3,22.3,4.9,39.2,7.433333,...,0.853333,5.0444446667,2.56,0,2,0,15.312500,13.066667,10.149779,1.914062
1,1,7,28,263,107,1,17.7,0.0,22.7,17.700000,...,3.400000,13.8500000000,3.40,0,0,0,6.676471,22.700000,14.729242,0.000000
2,16,7,28,249,186,1,11.4,0.0,15.4,11.400000,...,1.460000,11.1833330000,1.46,0,0,1,10.547945,15.400000,7.833085,0.000000
3,0,7,28,114,186,1,7.2,0.0,12.2,7.200000,...,1.070000,4.1500000000,1.07,0,0,0,11.401869,12.200000,15.469880,0.000000
4,11,7,28,52,158,1,24.0,7.0,35.0,24.000000,...,4.600000,28.3500000000,4.60,0,0,0,7.608696,35.000000,9.735450,1.521739

In [11]:
import psycopg2

# PostgreSQL connection details
PG_HOST = "localhost"
PG_PORT = "5432"
PG_DB = "taxi_analytics"
PG_USER = "taxi_user"
PG_PASSWORD = "taxi123"
PG_TABLE = "gold_aggregates"

# -------------------------
# 2️⃣ Drop & Recreate Table
# -------------------------

conn = psycopg2.connect(
    host=PG_HOST,
    port=PG_PORT,
    dbname=PG_DB,
    user=PG_USER,
    password=PG_PASSWORD
)
conn.autocommit = True
cursor = conn.cursor()

# Drop table if exists
cursor.execute(f"SELECT * FROM gold_aggregates LIMIT 10;")
rows = cursor.fetchall()

for row in rows:
    print(row)

(0, 4, 1, 230, 4, 1, 19.1, 4.62, 27.72, 19.1, 24.18848167539267, 1, 3.27, 16.45, 3.27, 0, 0, 0, 8.477064220183486, 27.72, 11.927051671731073, 1.4128440366972477, None, None, None)
(14, 1, 29, 186, 234, 1, 7.2, 1.68, 12.88, 7.2, 23.333333333333332, 1, 1.08, 4.966667, 1.08, 0, 0, 0, 11.925925925925926, 12.88, 13.046978990140891, 1.5555555555555554, None, None, None)
(14, 1, 29, 211, 164, 1, 16.3, 3.0, 23.3, 16.3, 18.404907975460123, 0, 2.5, 16.116667, 2.5, 0, 0, 0, 9.32, 23.3, 9.307135278031208, 1.2, None, None, None)
(3, 1, 29, 148, 75, 1, 21.9, 4.0, 30.9, 21.9, 18.264840182648403, 0, 5.1, 15.183333, 5.1, 0, 0, 0, 6.0588235294117645, 30.9, 20.153677720168552, 0.7843137254901962, None, None, None)
(10, 1, 29, 236, 43, 1, 10.0, 2.8, 16.8, 10.0, 27.999999999999996, 1, 1.76, 7.566667, 1.76, 0, 0, 1, 9.545454545454545, 16.8, 13.955946521760783, 1.5909090909090908, None, None, None)
(10, 1, 29, 236, 140, 1, 7.9, 2.38, 14.28, 7.9, 30.126582278481013, 1, 1.14, 5.483333, 1.14, 0, 0, 1, 12.526315789473685, 14.28, 12.474164892051046, 2.0877192982456143, None, None, None)
(1, 1, 29, 170, 140, 1, 12.1, 1.0, 18.1, 12.1, 8.264462809917356, 0, 2.27, 8.983333, 2.27, 0, 0, 0, 7.973568281938326, 18.1, 15.161410581125033, 0.44052863436123346, None, None, None)
(17, 1, 29, 236, 264, 1, 8.6, 1.5, 14.1, 8.6, 17.441860465116278, 0, 1.0, 7.333333, 1.0, 0, 0, 1, 14.1, 14.1, 8.181818553716795, 1.5, None, None, None)
(1, 1, 29, 148, 249, 1, 9.3, 1.0, 15.3, 9.3, 10.75268817204301, 0, 1.11, 7.783333, 1.11, 0, 0, 0, 13.783783783783782, 15.3, 8.556745548466562, 0.9009009009009008, None, None, None)
(18, 1, 29, 236, 239, 1, 12.8, 3.36, 20.16, 12.8, 26.249999999999996, 1, 2.07, 10.916667, 2.07, 0, 0, 1, 9.73913043478261, 20.16, 11.377098889248888, 1.6231884057971016, None, None, None)

In [ ]:
# PostgreSQL connection details (AWS RDS)
PG_HOST = "taxi-analytics.cub8m62c075l.us-east-1.rds.amazonaws.com"
PG_PORT = "5432"
PG_DB = "taxi_analytics"
PG_USER = "taxi_user"
PG_PASSWORD = "taxi.123"
PG_TABLE = "gold_aggregates"

# -------------------------
# 2️⃣ Empty Table Instead of Drop & Recreate
# -------------------------

conn = psycopg2.connect(
    host=PG_HOST,
    port=PG_PORT,
    dbname=PG_DB,
    user=PG_USER,
    password=PG_PASSWORD
)
conn.autocommit = True
cursor = conn.cursor()
cursor.execute(f"SELECT * FROM gold_aggregates LIMIT 10;")
rows = cursor.fetchall()

for row in rows:
    print(row)